/*
	@theme haXe Placeholder
	@placeholder com.davber.haxe
*/

@base {
	color: #333;
	background-color: #7ff;
}

identifier.declaration, identifier.definition {
	color: #4f9fcf;
	newcolor: #6fbfff;
}

identifier.sys {
	color: #6700b9;
}

keyword {
	color: #6700b9;
}

keyword.class, keyword.interface {
	font-weight: bold;
}

keyword.modifier {
	color: #d48080;
}

identifier.variable, string.double identifier {
	color: #4F9FCF;
	newcolor: #6FBFFF;
}

keyword.definition {
	color: #d44950;
}

identifier.function {
	color: #699d36;
	font-weight: bold;
}

literal.numeric {
	color: #6700b9;
	background-color: #fbf2fe;
}

metadata.processing {
	color: #AAAAAA;
}

keyword.processing {
	color: #AAAAAA;
	font-weight: bold;
}

